header {
    background-color: rgb(163, 248, 51);
    color: white;
    padding: 10px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    display: block;
    background-color: rgb(149, 214, 88);
    position: fixed;
    top: 0;
    left: 80%;
    width: 30%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    background-color: rgb(222, 255, 192);
}


aside{
    background-color: rgb(233, 250, 81);

}

footer{
    background-color: rgb(128, 218, 240);
    color: green;
}

.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 00.2em solid white;
}

.shownav.before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0.3em;
    left: 0px;
    border-top: 0.2em solid #fff; 
}

#clicked .on {display: block;}
#clicked .off {display: none;}

#clicked:target.on {display: none;}
#clicked:target.off {display: block;}