head {

        background-color: rgb(181, 30, 252);
        color: white;
        padding: 10px ;
        font-family: 'Times New Roman';
}


header {
    background-color: rgb(194, 81, 247);
    color: white;
    padding: 10px ;
    font-family: 'Times New Roman';
}

nav{
    background-color: rgb(234, 119, 238);
    display: block;
    width: 130px;
    float: right;
    font-family: 'Times New Roman';
}
a {
    color: rgb(214, 190, 241);
}
nav ul a:hover {
    color: white;
}

main{
    background-color: rgb(255, 192, 250);
}

aside{
    background-color:rgb(250, 81, 208);

}

footer{
    background-color: rgb(128, 218, 240);
    color: green;
}

img{
    display: grid;
    width: 400px;
    grid-template-columns: 50% 50%;
}

