header {
    background-color: rgb(207, 141, 233);
    color: white;
    padding: 10px ;
}

nav{
    display: block;
    background-color: rgb(230, 103, 124);
    position: fixed;
    top: 0;
    left: 80%;
    width: 30%;
    height: 100vh;
}

main{
    background-color: pink;
}

aside{
    background-color: plum;

}

footer{
    background-color: lightcoral;
    color: green;
}

.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 00.2em solid white;
}

.shownav.before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0.3em;
    left: 0px;
    border-top: 0.2em solid #fff; 
}

#clicked .on {display: block;}
#clicked .off {display: none;}

#clicked:target.on {display: none;}
#clicked:target.off {display: block;}